@import './base.css';

#app {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(101, 0, 114);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color:rgb(167, 0, 189);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
